<%= link_to(home_path, :title => 'Go to the petitions homepage', :class => 'proposition') do %>
<header role="banner" id="global-header" style="background-image: image-url('assets/images/graphics/cfp/kpkbanner.jpg')">
  <div class="wrapper">
    
    <p class="strapline"></p>
  </div>
</header>
<% end %>
